/* reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
}

a:hover{
    color: gray;
    text-shadow: 3px;
}

.container{
    background-color: black;
    margin: 0px;
}

.row{
    height: 100%;
}
ul{
    text-decoration: none;
    list-style: none;
}
ul li{
    display: inline;
    padding-left: 2rem;
    padding-top: 2rem;
}

.barra{
    background-color: black;
    color: white;
    padding-left: 3rem;
    margin-right: 3rem;
}

.mano{
    height: 300px;
    width: 100%;
    background-image: url(../Img/craftsmanship-lifestyle1.jpg);
    grid-area: mano;
    display: inline-block;
    color: white;
}

h1{
    text-align: center;
}

.foot{
    color: white;
    
}